{% extends 'core/dashboard.html' %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static '/assets/lib/datatables/datatables.net-bs4/css/dataTables.bootstrap4.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static '/assets/lib/datatables/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static '/assets/lib/summernote/summernote-bs4.css' %}"/>

<style>
 hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}





</style>
{% endblock %}


{% block content %}
<div class="be-content">

	<div class="row" id="id_div_button" hidden>
		<div class="col-sm-6">
			{% if perms.servico.add_servico%}
			<button class="btn btn-space btn-primary col-sm-12" data-toggle="modal" id="id_button_modal_novoServico" type="button">Novo Serviço</button>
			{% endif %}
		</div>
	</div>

	<div class="main-content container-fluid">
		<div class="card card-border-color card-border-color-primary">
			<div class="card-header card-header-divider">Novo Serviço<span class="card-subtitle">Adicione um novo serviço</span></div>
			<div class="card-body">
				<div class="row">
					<div class="col-sm-12">
						<div class="card card-table">
							<div class="card-body">
								<table class="table table-striped table-hover table-fw-widget" id="id_table_novoServico">
									<thead>
									<tr>
										<th style="width:5%;" class="center">Código</th>
										<th style="width:40%;" class="center">Nome</th>
										<th style="width:10%;" class="center">Preço</th>
										<th style="width:10%;" class="center">Tempo (Min)</th>
										<th style="width:10%;" class="center">Prazo Retorno (Dias)</th>
										<th style="width:10%;" class="center">Prazo Validade (Meses)</th>
										<th style="width:10%;" class="center">Ativo ?</th>
										<th style="width:5%;" class="center">Ação</th>
									</tr>
									</thead>
									<tbody>
									{% for servico in servicos %}
									<tr class="odd gradeX center">
										<td class="center">{{ servico.pk }}</td>
										<td class="center">{{ servico.nome }}</td>
										<td class="center">{{ servico.preco }}</td>
										<td class="center">{{ servico.tempo }} min</td>
										<td class="center">{{ servico.prazoRetorno }} d</td>
										<td class="center">{{ servico.prazoValidade }} m</td>
										<td class="center">{{ servico.ativo }}</td>
										<td class="row">
											{% if perms.servico.change_servico %}
											<button class="btn btn-space btn-primary" value="{{ servico.pk }}" type="button">Editar Serviço</button>
											{% else %}
											<button class="btn btn-space btn-primary" value="{{ servico.pk }}" type="button">Visualizar Serviço</button>
											{% endif %}
										</td>
									</tr>
									{% empty %}
									<tr>
										<td colspan="4"><h2>Você ainda não cadastrou nenhum serviço</h2></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Modal Serviço-->
<div class="modal fade colored-header colored-header-primary" id="id_modal_form_servico" role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog full-width">
		<div class="modal-content">
			<div class="modal-header modal-header-colored">
				{% if not perms.servico.change_servico %}
				<h3 class="modal-title">Visualizar Serviço</h3>
				{% else %}
				<h3 class="modal-title" id="id_title">Novo Serviço</h3>
				{% endif %}
				<button class="close md-close" type="button" data-dismiss="modal" aria-hidden="true"><span class="mdi mdi-close"></span></button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-12">
						<div class="card card-table">
							<div class="card-body">
								<div class="col-12 col-lg-12">
									<div class="card card-border-color card-border-color-default shadow bg-white">
										<div class="tab-container">
											<ul class="nav nav-tabs" role="tablist">
												<li class="nav-item"><a class="nav-link active show" href="#tablist1" data-toggle="tab" role="tab"
																		aria-selected="true"><span class="icon mdi mdi-info"></span>Informações Gerais dos
													Serviços</a></li>
												<li class="nav-item"><a class="nav-link" href="#tablist2" data-toggle="tab" role="tab"
																		aria-selected="false"><span class="icon mdi mdi-money"></span>Distribuição
													financeira</a></li>
												<li class="nav-item"><a class="nav-link" href="#tablist3" data-toggle="tab" role="tab"
																		aria-selected="false"><span class="icon mdi mdi-file"></span>Documentos</a></li>
											</ul>
											<form method="POST" id="id_form_novo_servico">
												{% csrf_token %}
												<div class="tab-content">
													<div class="tab-pane active show" id="tablist1" role="tabpanel">
														<div class="card">
															<div class="card-body">
																<div class="form-group row">
																	<div class="col-sm-8 col-lg-8 mb-8 mb-sm-0 pt-0">
																		<h2>Informações Gerais dos Serviços</h2>
																	</div>
																</div>
																<div class="form-group row pt-0">
																	<div class="col-sm-2 col-lg-2 mb-2 mb-sm-0 pt-2">
																		<label for="id_selectAtivarServico">Ativar Serviço ?</label>
																		<select id="id_selectAtivarServico" name="ativo" class="form-control">
																			<option value="ON" selected="">ON</option>
																			<option value="OFF">OFF</option>
																		</select>
																	</div>
																	<div class="col-sm-2 col-lg-2 mb-2 mb-sm-0 pt-2">
																		<label for="id_quantSessao">Quantidade de Sessões </label>
																		<input class="form-control" type="text" id="id_quantSessao" name="quantSessao"
																			   data-mask="date" required>
																	</div>
																	<div class="col-sm-4 col-lg-4 mb-4 mb-sm-0 pt-2">
																		<label for="id_nome">Nome do Serviço </label>
																		<input class="form-control" type="text" id="id_nome" name="nome"
																			   data-mask="date" required>
																	</div>
																	<div class="col-sm-4 col-lg-4 mb-4 mb-sm-0 pt-2">
																		<label for="id_preco">Preço </label>
																		<input class="form-control" type="text" id="id_preco" name="preco"
																			   data-mask="date" required>
																	</div>
																</div>
																<div class="form-group row pt-0">
																	<div class="col-sm-4 col-lg-4 mb-4 mb-sm-0 pt-2">
																		<label for="id_tempo">Tempo do Serviço (Minutos) </label>
																		<input class="form-control" type="text" id="id_tempo" name="tempo" value="0" required>
																	</div>
																	<div class="col-sm-4 col-lg-4 mb-4 mb-sm-0 pt-2">
																		<label for="id_prazoRetorno">Prazo de Retorno (Dias)</label>
																		<input class="form-control" id="id_prazoRetorno" name="prazoRetorno" value="0" required>
																	</div>
																	<div class="col-sm-4 col-lg-4 mb-4 mb-sm-0 pt-2">
																		<label for="id_nome">Prazo de Validade (Meses)</label>
																		<input class="form-control" type="text" id="id_prazoValidade" value="0"
																			   name="prazoValidade"
																			   data-mask="date" required>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="tab-pane" id="tablist2" role="tabpanel">

														<div class="card">
															<div class="card-body">
																<div class="form-group row">
																	<div class="col-sm-12 col-lg-12 mb-12 mb-sm-0 pt-0">
																		<button class="btn btn-space btn-primary btn-big"
																				type="button" onclick="RepeaterCardRegra().maisUm()">Adicionar Regra
																		</button>
																	</div>
																</div>
																<div class="row" id="id_grupo_card_regra">
																	<div class="col-lg-12 pt-0" id="id_card_regra_1">
																		<div class="card card-border-color card-border-color-default shadow p-2 mb-2 bg-white">
																			<div class="card-header"><a>Regra 1</a></div>
																			<div class="card-body ">
																				<div class="form-group row pt-2">
																					<div class="col-sm-6 col-lg-6 mb-12 mb-sm-0 pt-0 pb-2">
																						<label for="id_rateio_1">Rateio</label>
																						<div class="input-group mb-3">
																							<input class="form-control" id="id_rateio_1" name="rateio_1" type="text" placeholder="Rateio em Reais">
																							<input class="form-control" id="id_tipoRateio_1" name="tipoRateio_1" type="text" hidden>
																							<div class="input-group-append be-addon">
																								<button class="btn btn-primary" data-toggle="dropdown" type="button"> R$ </button>
																								<div class="dropdown-menu" x-placement="bottom-start"
																									 style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(473px, 48px, 0px);">
																									<a class="dropdown-item" onclick="RepeaterCardRegra().rateio(this, 'R$')">R$ (Valor)</a>
																									<div class="dropdown-divider"></div>
																									<a class="dropdown-item" onclick="RepeaterCardRegra().rateio(this, '%')">% (Porcentagem)</a>
																								</div>
																							</div>
																						</div>
																					</div>
																					<div class="col-sm-6 col-lg-6 mb-6 mb-sm-0">
																						<label for="id_titulo_1">Quem Recebe ?</label>
																						<select id="id_titulo_1" name="titulo_1" class="form-control">
																							<option></option>
																							{% for titulo in titulos %}
																							{% if titulo.status != "OFF" %}
																							<option value="{{titulo.titulo}}"> {{titulo.titulo}}
																							</option>
																							{% endif %}
																							{% endfor %}
																						</select>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="col-lg-12 pt-0" id="id_card_regra_2" hidden>
																		<div class="card card-border-color card-border-color-default shadow p-2 mb-2 bg-white">
																			<div class="card-header"><a>Regra 2</a>
																				<div class="tools" onclick="RepeaterCardRegra().desativarCard('2')"><span
																						class="icon mdi mdi-close"></span></div>
																			</div>
																			<div class="card-body ">
																				<div class="form-group row pt-2">
																					<div class="col-sm-6 col-lg-6 mb-12 mb-sm-0 pt-0 pb-2">
																						<label for="id_rateio_2">Rateio</label>
																						<div class="input-group mb-3">
																							<input class="form-control" id="id_rateio_2" name="rateio_2" type="text" placeholder="Rateio em Reais">
																							<input class="form-control" id="id_tipoRateio_2" name="tipoRateio_2" type="text" hidden>
																							<div class="input-group-append be-addon">
																								<button class="btn btn-primary" data-toggle="dropdown" type="button"> R$ </button>
																								<div class="dropdown-menu" x-placement="bottom-start"
																									 style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(473px, 48px, 0px);">
																									<a class="dropdown-item" onclick="RepeaterCardRegra().rateio(this, 'R$')">R$ (Valor)</a>
																									<div class="dropdown-divider"></div>
																									<a class="dropdown-item" onclick="RepeaterCardRegra().rateio(this, '%')">% (Porcentagem)</a>
																								</div>
																							</div>
																						</div>
																					</div>
																					<div class="col-sm-6 col-lg-6 mb-6 mb-sm-0">
																						<label for="id_titulo_2">Quem Recebe ?</label>
																						<select id="id_titulo_2" name="titulo_2" class="form-control">
																							<option></option>
																							{% for titulo in titulos %}
																							{% if titulo.status != "OFF" %}
																							<option value="{{titulo.titulo}}"> {{titulo.titulo}}
																							</option>
																							{% endif %}
																							{% endfor %}
																						</select>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="col-lg-12 pt-0" id="id_card_regra_3" hidden>
																		<div class="card card-border-color card-border-color-default shadow p-2 mb-2 bg-white">
																			<div class="card-header"><a>Regra 3</a>
																				<div class="tools" onclick="RepeaterCardRegra().desativarCard('3')"><span
																						class="icon mdi mdi-close"></span></div>
																			</div>
																			<div class="card-body ">
																				<div class="form-group row pt-2">
																					<div class="col-sm-6 col-lg-6 mb-12 mb-sm-0 pt-0 pb-2">
																						<label for="id_rateio_3">Rateio</label>
																						<div class="input-group mb-3">
																							<input class="form-control" id="id_rateio_3" name="rateio_3" type="text" placeholder="Rateio em Reais">
																							<input class="form-control" id="id_tipoRateio_3" name="tipoRateio_3" type="text" hidden>
																							<div class="input-group-append be-addon">
																								<button class="btn btn-primary" data-toggle="dropdown" type="button"> R$ </button>
																								<div class="dropdown-menu" x-placement="bottom-start"
																									 style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(473px, 48px, 0px);">
																									<a class="dropdown-item" onclick="RepeaterCardRegra().rateio(this, 'R$')">R$ (Valor)</a>
																									<div class="dropdown-divider"></div>
																									<a class="dropdown-item" onclick="RepeaterCardRegra().rateio(this, '%')">% (Porcentagem)</a>
																								</div>
																							</div>
																						</div>
																					</div>
																					<div class="col-sm-6 col-lg-6 mb-6 mb-sm-0">
																						<label for="id_titulo_3">Quem Recebe ?</label>
																						<select id="id_titulo_3" name="titulo_3" class="form-control">
																							<option></option>
																							{% for titulo in titulos %}
																							{% if titulo.status != "OFF" %}
																							<option value="{{titulo.titulo}}"> {{titulo.titulo}}
																							</option>
																							{% endif %}
																							{% endfor %}
																						</select>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="col-lg-12 pt-0" id="id_card_regra_4" hidden>
																		<div class="card card-border-color card-border-color-default shadow p-2 mb-2 bg-white">
																			<div class="card-header"><a>Regra 4</a>
																				<div class="tools" onclick="RepeaterCardRegra().desativarCard('4')"><span
																						class="icon mdi mdi-close"></span></div>
																			</div>
																			<div class="card-body ">
																				<div class="form-group row pt-2">
																					<div class="col-sm-6 col-lg-6 mb-12 mb-sm-0 pt-0 pb-2">
																						<label for="id_rateio_4">Rateio</label>
																						<div class="input-group mb-3">
																							<input class="form-control" id="id_rateio_4" name="rateio_4" type="text" placeholder="Rateio em Reais">
																							<input class="form-control" id="id_tipoRateio_4" name="tipoRateio_4" type="text" hidden>
																							<div class="input-group-append be-addon">
																								<button class="btn btn-primary" data-toggle="dropdown" type="button"> R$ </button>
																								<div class="dropdown-menu" x-placement="bottom-start"
																									 style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(473px, 48px, 0px);">
																									<a class="dropdown-item" onclick="RepeaterCardRegra().rateio(this, 'R$')">R$ (Valor)</a>
																									<div class="dropdown-divider"></div>
																									<a class="dropdown-item" onclick="RepeaterCardRegra().rateio(this, '%')">% (Porcentagem)</a>
																								</div>
																							</div>
																						</div>
																					</div>
																					<div class="col-sm-6 col-lg-6 mb-6 mb-sm-0">
																						<label for="id_titulo_4">Quem Recebe ?</label>
																						<select id="id_titulo_4" name="titulo_4" class="form-control">
																							<option></option>
																							{% for titulo in titulos %}
																							{% if titulo.status != "OFF" %}
																							<option value="{{titulo.titulo}}"> {{titulo.titulo}}
																							</option>
																							{% endif %}
																							{% endfor %}
																						</select>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="col-lg-12 pt-0" id="id_card_regra_5" hidden>
																		<div class="card card-border-color card-border-color-default shadow p-2 mb-2 bg-white">
																			<div class="card-header"><a>Regra 5</a>
																				<div class="tools" onclick="RepeaterCardRegra().desativarCard('5')"><span
																						class="icon mdi mdi-close"></span></div>
																			</div>
																			<div class="card-body ">
																				<div class="form-group row pt-2">
																					<div class="col-sm-6 col-lg-6 mb-12 mb-sm-0 pt-0 pb-2">
																						<label for="id_rateio_5">Rateio</label>
																						<div class="input-group mb-3">
																							<input class="form-control" id="id_rateio_5" name="rateio_5" type="text" placeholder="Rateio em Reais">
																							<input class="form-control" id="id_tipoRateio_5" name="tipoRateio_5" type="text" hidden>
																							<div class="input-group-append be-addon">
																								<button class="btn btn-primary" data-toggle="dropdown" type="button"> R$ </button>
																								<div class="dropdown-menu" x-placement="bottom-start"
																									 style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(473px, 48px, 0px);">
																									<a class="dropdown-item" onclick="RepeaterCardRegra().rateio(this, 'R$')">R$ (Valor)</a>
																									<div class="dropdown-divider"></div>
																									<a class="dropdown-item" onclick="RepeaterCardRegra().rateio(this, '%')">% (Porcentagem)</a>
																								</div>
																							</div>
																						</div>
																					</div>
																					<div class="col-sm-6 col-lg-6 mb-6 mb-sm-0">
																						<label for="id_titulo_5">Quem Recebe ?</label>
																						<select id="id_titulo_5" name="titulo_5" class="form-control">
																							<option></option>
																							{% for titulo in titulos %}
																							{% if titulo.status != "OFF" %}
																							<option value="{{titulo.titulo}}"> {{titulo.titulo}}
																							</option>
																							{% endif %}
																							{% endfor %}
																						</select>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="col-lg-12 pt-0" id="id_card_regra_6" hidden>
																		<div class="card card-border-color card-border-color-default shadow p-2 mb-2 bg-white">
																			<div class="card-header"><a>Regra 6</a>
																				<div class="tools" onclick="RepeaterCardRegra().desativarCard('6')"><span
																						class="icon mdi mdi-close"></span></div>
																			</div>
																			<div class="card-body ">
																				<div class="form-group row pt-2">
																					<div class="col-sm-6 col-lg-6 mb-12 mb-sm-0 pt-0 pb-2">
																						<label for="id_rateio_6">Rateio</label>
																						<div class="input-group mb-3">
																							<input class="form-control" id="id_rateio_6" name="rateio_6" type="text" placeholder="Rateio em Reais">
																							<input class="form-control" id="id_tipoRateio_6" name="tipoRateio_6" type="text" hidden>
																							<div class="input-group-append be-addon">
																								<button class="btn btn-primary" data-toggle="dropdown" type="button"> R$ </button>
																								<div class="dropdown-menu" x-placement="bottom-start"
																									 style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(473px, 48px, 0px);">
																									<a class="dropdown-item" onclick="RepeaterCardRegra().rateio(this, 'R$')">R$ (Valor)</a>
																									<div class="dropdown-divider"></div>
																									<a class="dropdown-item" onclick="RepeaterCardRegra().rateio(this, '%')">% (Porcentagem)</a>
																								</div>
																							</div>
																						</div>
																					</div>
																					<div class="col-sm-6 col-lg-6 mb-6 mb-sm-0">
																						<label for="id_titulo_6">Quem Recebe ?</label>
																						<select id="id_titulo_6" name="titulo_6" class="form-control">
																							<option></option>
																							{% for titulo in titulos %}
																							{% if titulo.status != "OFF" %}
																							<option value="{{titulo.titulo}}"> {{titulo.titulo}}
																							</option>
																							{% endif %}
																							{% endfor %}
																						</select>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="tab-pane" id="tablist3" role="tabpanel">
														<div class="card">
															<div class="card-body">
																<div class="form-group row">
																	<div class="col-sm-12 col-lg-12 mb-12 mb-sm-0 pt-0">
																		<button class="btn btn-space btn-primary btn-big"
																					type="button" onclick="RepeaterCardDocumento().maisUm()">Adicionar Documento
																			</button>
																		</h2>
																	</div>
																</div>
																<div class="row" id="id_grupo_card_documento">
																	<div class="col-lg-6 pt-0" id="id_card_documento_1">
																		<div class="card card-border-color card-border-color-default shadow p-2 mb-2 bg-white">
																			<div class="card-header"><a>Documento 1</a></div>
																			<div class="card-body ">
																				<div class="form-group row pt-2">
																					<div class="col-sm-12 col-lg-12 mb-12 mb-sm-0 pt-0 pb-2">
																						<label for="id_nomeDocumento_1">Nome do Documento</label>
																						<div class="input-group mb-3">
																							<input class="form-control" id="id_nomeDocumento_1"
																								   name="nomeDocumento_1" type="text">
																							<input class="form-control" id="id_codeDocumento_1"
																								   name="codeDocumento_1" type="text" hidden>
																							<div class="input-group-append">
																								<button class="btn btn-primary" type="button"
																										data-toggle="modal" id="id_button_documento_1"
																										data-target="#id_modal_documento" data-id="1">Abrir
																									Documento
																								</button>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="col-lg-6 pt-0" id="id_card_documento_2" hidden>
																		<div class="card card-border-color card-border-color-default shadow p-2 mb-2 bg-white">
																			<div class="card-header"><a>Documento 2</a>
																				<div class="tools" onclick="RepeaterCardDocumento().desativarCard('2')"><span
																						class="icon mdi mdi-close"></span></div>
																			</div>
																			<div class="card-body">
																				<div class="form-group row pt-2">
																					<div class="col-sm-12 col-lg-12 mb-12 mb-sm-0 pt-0 pb-2">
																						<label for="id_nomeDocumento_2">Nome do Documento</label>
																						<div class="input-group mb-3">
																							<input class="form-control" id="id_nomeDocumento_2"
																								   name="nomeDocumento_2" type="text">
																							<input class="form-control" id="id_codeDocumento_2"
																								   name="codeDocumento_2" type="text" hidden>
																							<div class="input-group-append">
																								<button class="btn btn-primary" type="button"
																										data-toggle="modal" id="id_button_documento_2"
																										data-target="#id_modal_documento" data-id="2">Abrir
																									Documento
																								</button>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="col-lg-6 pt-0" id="id_card_documento_3" hidden>
																		<div class="card card-border-color card-border-color-default shadow p-2 mb-2 bg-white">
																			<div class="card-header"><a>Documento 3</a>
																				<div class="tools" onclick="RepeaterCardDocumento().desativarCard('3')"><span
																						class="icon mdi mdi-close"></span></div>
																			</div>
																			<div class="card-body">
																				<div class="form-group row pt-2">
																					<div class="col-sm-12 col-lg-12 mb-12 mb-sm-0 pt-0 pb-2">
																						<label for="id_nomeDocumento_3">Nome do Documento</label>
																						<div class="input-group mb-3">
																							<input class="form-control" id="id_nomeDocumento_3"
																								   name="nomeDocumento_3" type="text">
																							<input class="form-control" id="id_codeDocumento_3"
																								   name="codeDocumento_3" type="text" hidden>
																							<div class="input-group-append">
																								<button class="btn btn-primary" type="button"
																										data-toggle="modal" id="id_button_documento_3"
																										data-target="#id_modal_documento" data-id="3">Abrir
																									Documento
																								</button>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="col-lg-6 pt-0" id="id_card_documento_4" hidden>
																		<div class="card card-border-color card-border-color-default shadow p-2 mb-2 bg-white">
																			<div class="card-header"><a>Documento 4</a>
																				<div class="tools" onclick="RepeaterCardDocumento().desativarCard('4')"><span
																						class="icon mdi mdi-close"></span></div>
																			</div>
																			<div class="card-body">
																				<div class="form-group row pt-2">
																					<div class="col-sm-12 col-lg-12 mb-12 mb-sm-0 pt-0 pb-2">
																						<label for="id_nomeDocumento_4">Nome do Documento</label>
																						<div class="input-group mb-3">
																							<input class="form-control" id="id_nomeDocumento_4"
																								   name="nomeDocumento_4" type="text">
																							<input class="form-control" id="id_codeDocumento_4"
																								   name="codeDocumento_4" type="text" hidden>
																							<div class="input-group-append">
																								<button class="btn btn-primary" type="button"
																										data-toggle="modal" id="id_button_documento_4"
																										data-target="#id_modal_documento" data-id="4">Abrir
																									Documento
																								</button>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="col-lg-6 pt-0" id="id_card_documento_5" hidden>
																		<div class="card card-border-color card-border-color-default shadow p-2 mb-2 bg-white">
																			<div class="card-header"><a>Documento 5</a>
																				<div class="tools" onclick="RepeaterCardDocumento().desativarCard('5')"><span
																						class="icon mdi mdi-close"></span></div>
																			</div>
																			<div class="card-body">
																				<div class="form-group row pt-2">
																					<div class="col-sm-12 col-lg-12 mb-12 mb-sm-0 pt-0 pb-2">
																						<label for="id_nomeDocumento_4">Nome do Documento</label>
																						<div class="input-group mb-3">
																							<input class="form-control" id="id_nomeDocumento_5"
																								   name="nomeDocumento_5" type="text">
																							<input class="form-control" id="id_codeDocumento_5"
																								   name="codeDocumento_5" type="text" hidden>
																							<div class="input-group-append">
																								<button class="btn btn-primary" type="button"
																										data-toggle="modal" id="id_button_documento_5"
																										data-target="#id_modal_documento" data-id="5">Abrir
																									Documento
																								</button>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="col-lg-6 pt-0" id="id_card_documento_6" hidden>
																		<div class="card card-border-color card-border-color-default shadow p-2 mb-2 bg-white">
																			<div class="card-header"><a>Documento 6</a>
																				<div class="tools" onclick="RepeaterCardDocumento().desativarCard('6')"><span
																						class="icon mdi mdi-close"></span></div>
																			</div>
																			<div class="card-body">
																				<div class="form-group row pt-2">
																					<div class="col-sm-12 col-lg-12 mb-12 mb-sm-0 pt-0 pb-2">
																						<label for="id_nomeDocumento_6">Nome do Documento</label>
																						<div class="input-group mb-3">
																							<input class="form-control" id="id_nomeDocumento_6"
																								   name="nomeDocumento_6" type="text">
																							<input class="form-control" id="id_codeDocumento_6"
																								   name="codeDocumento_6" type="text" hidden>
																							<div class="input-group-append">
																								<button class="btn btn-primary" type="button"
																										data-toggle="modal" id="id_button_documento_6"
																										data-target="#id_modal_documento" data-id="6">Abrir
																									Documento
																								</button>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="form-group row text-right">
														<div class="col-sm-11 col-md-11 col-lg-12 col-xl-12 offset-sm-1 offset-lg-0">
															<button class="btn btn-space btn-primary btn-big" type="submit" id="id_button_modal"><i
																	class="icon mdi mdi-save"></i> Salvar Serviço
															</button>
														</div>
													</div>
												</div>

												<!--Campo contendo o ID do Serviço a ser editado-->
												<input id="id_servico" name="id_servico" value="-1" hidden>
												<!--Campo contendo o ID do Serviço a ser editado-->

											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade colored-header colored-header-primary" id="id_modal_documento" role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog full-width">
		<div class="modal-content">
			<div class="modal-header modal-header-colored">
				<h3 class="modal-title">Documento</h3>
				<button class="close md-close" type="button" data-dismiss="modal" aria-hidden="true"><span
						class="mdi mdi-close"></span></button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-body">
								<textarea id="summernote" name="editordata"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer col-sm-11 col-md-11 col-lg-12 col-xl-12 offset-sm-1 offset-lg-0">
				<button class="btn btn-space btn-primary btn-big" type="button" id="id_button_salvar"><i class="icon mdi mdi-save"></i> Salvar Documento
				</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block extrabottomjs %}
<script src="{% static '/assets/lib/datatables/datatables.net/js/jquery.dataTables.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/lib/datatables/datatables.net-bs4/js/dataTables.bootstrap4.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/lib/datatables/datatables.net-responsive/js/dataTables.responsive.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/lib/jquery.maskedinput/jquery.maskedinput.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/maskmoney.js' %}" type="text/javascript"></script>


<script src="{% static 'assets/lib/summernote/summernote-bs4.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/lib/summernote/summernote-ext-beagle.js' %}" type="text/javascript"></script>

<script src="{% static '/assets/js/app-tables-datatables.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/jquery.validate.min.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/jquery.validate.msg.pt-br.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/clinica/servico.js' %}" type="text/javascript"></script>

<script>

</script>

{% endblock %}


