{% extends 'baseResetSenha.html' %}
{% load static %}
{% block body %}

<div class="be-wrapper be-login">
	<div class="be-content">
		<div class="main-content container-fluid">
			<div class="splash-container forgot-password">
				<div class="card card-border-color card-border-color-primary">
					<div class="card-header"><img class="logo-img" src="{% static '/assets/img/logo-xx.png' %}" alt="logo" width="102"
												  height="#{conf.logoHeight}"><span
							class="splash-description">Confirmar senha</span></div>

					<div class="card-body">
						<form method="POST">
							{% csrf_token %}
							<div class="form-group pt-3">
								<input class="form-control" type="password" name="new_password1" placeholder="Nova Senha" required id="id_new_password1">
							</div>
							<div class="form-group">
								<input class="form-control" type="password" name="new_password2" placeholder="Repita Sua Nova Senha" required id="id_new_password2"/>
							</div>
							<p class="">Voltar para a tela de login? <a href="{% url 'login' %}">Clique Aqui Para Logar</a>.</p>
							<div class="form-group pt-4">
								<button class="btn btn-block btn-primary btn-xl" type="submit">Resgatar Senha</button>
							</div>
							{% if form.errors %}
								<div class="alert alert-contrast alert-danger alert-dismissible" role="alert" id="id_div_msg_login">
									<button class="close" type="button" data-dismiss="alert" aria-label="Close"><span class="mdi mdi-close"
																													  aria-hidden="true"></span></button>
									<div class="icon"><span class="mdi mdi-close-circle-o"></span></div>
									<div class="message" id="id_msg_erro" value="{{ flag }}">
										{% for field in form %}
											{% for error in field.errors %}
												<p><strong>{{ error | escape }}</strong></p>
										    {% endfor %}
					                    {% endfor %}

										{% for error in form.non_field_errors %}
												<p><strong>{{ error | escape }}</strong></p>
										{% endfor %}
									</div>
								</div>
							{% endif %}
						</form>
					</div>
				</div>


				<div class="splash-footer">&copy; 2019 Sua Pele</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

