{% extends 'baseResetSenha.html' %}
{% block body %}
{% load static %}

<div class="be-wrapper be-login">
	<div class="be-wrapper be-error">
		<div class="be-content">
			<div class="main-content container-fluid">
				<div class="error-container">
					<div class="error-description">Sua Senha Foi Redefinida Com Sucesso!</div>
					<div class="error-goback-button"><a class="btn btn-xl btn-primary"  href="{% url 'login' %}">Ir para Login</a></div>
					<div class="footer">&copy; 2019 Sua Pele</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}