{% extends 'baseResetSenha.html' %}
{% load static %}
{% block body %}

<div class="be-wrapper be-login">
	<div class="be-content">
		<div class="main-content container-fluid">
			<div class="splash-container forgot-password">
				<div class="card card-border-color card-border-color-primary">
					<div class="card-header"><img class="logo-img" src="{% static '/assets/img/logo-xx.png' %}" alt="logo" width="102" height="#{conf.logoHeight}"><span
							class="splash-description">Esqueceu sua Senha?</span></div>
					<div class="card-body">
						<form method="POST">
							{% csrf_token %}
							<p style="text-align: center">Não se preocupe, enviaremos um email para você!</p>
							<div class="form-group pt-4">
								<input class="form-control" type="email" name="email" maxlength="254" required id="id_email" placeholder="Entre com seu Email" autocomplete="off">
							</div>
							<p class="pt-1">Não lembra seu email? <a href="#">Contato do Suporte</a>.</p>
							<p class="">Voltar para a tela de login? <a href="{% url 'login' %}">Clique Aqui Para Logar</a>.</p>
							<div class="form-group pt-1">
								<button class="btn btn-block btn-primary btn-xl" type="submit">Resgatar Senha</button>
							</div>
						</form>
					</div>
				</div>
				<div class="splash-footer">&copy; 2019 Sua Pele</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
