{% extends 'core/dashboard.html' %}
{% load static %}
{% block content %}
<div class="be-content">
	<div class="main-content container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card card-border-color card-border-color-primary">
					<div class="card-header card-header-divider">Nova Senha<span class="card-subtitle">Crie uma nova senha com o formulário abaixo</span></div>
					<div class="card-body">
						<form id="id_form_nova_senha" method="POST">
							{% csrf_token %}
							{% if "{{ request.session.senhaPadraoAlterada }}" == False %}
							<div class="form-group row">
								<label class="col-12 col-sm-3 col-form-label text-sm-right" for="id_old_password">Senha Atual</label>
								<div class="col-12 col-sm-8 col-lg-6">
									<input class="form-control" id="id_old_password" name="old_password" type="password" placeholder="Entre com a sua senha atual" autofocus required>
								</div>
							</div>
							{% else %}
								<input class="form-control" id="id_old_password" name="old_password" type="password" value="{{ request.session.senhaPadrao }}" hidden required>
							{% endif %}
							<div class="form-group row">
								<label class="col-12 col-sm-3 col-form-label text-sm-right" for="id_new_password1">Nova Senha</label>
								<div class="col-12 col-sm-8 col-lg-6">
									<input class="form-control" id="id_new_password1" name="new_password1" type="password"
										   placeholder="Entre com uma nova senha" required>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-12 col-sm-3 col-form-label text-sm-right" for="id_new_password2">Confirmar Nova Senha</label>
								<div class="col-12 col-sm-8 col-lg-6">
									<input class="form-control" id="id_new_password2" name="new_password2" type="password" placeholder="Repita a sua nova senha"
										   required>
								</div>
							</div>
							<div class="form-group row text-right">
								<div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
									<button class="btn btn-space btn-primary" type="submit">Alterar Senha</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade colored-header colored-header-primary " id="id_modal" role="dialog">
	<div class="modal-dialog" >
		<div class="modal-content">
			<div class="modal-body" style="background-color: #37b358;color: #FFFFFF;">
				<div class="text-center"><span class="modal-main-icon mdi mdi-check"></span>
					<h1>Senha Alterada Com Sucesso!</h1>
					<p>Está sessão será encerrada e redirecionada para a tela de login</p>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}

{% block extrabottomjs %}
<script src="{% static '/assets/js/clinica/conta.js' %}" type="text/javascript"></script>
{% endblock %}
