{% load static %}
<div class="be-left-sidebar">
	<div class="left-sidebar-wrapper"><a class="left-sidebar-toggle" href="#">Menu</a>
		<div class="left-sidebar-spacer">
			<div class="left-sidebar-scroll">
				<div class="left-sidebar-content">
					<ul class="sidebar-elements">
						<li class="divider">Clínica</li>
						<li class="parent"><a href="#"><i class="icon mdi mdi-calendar-alt"></i><span>Agenda</span></a></li>
						<li class="parent" id="id_list_menu_paciente"><a href="#"><i class="icon mdi mdi-face"></i><span>Paciente</span></a>
							<ul class="sub-menu">
								<li id="id_item_meusPacientes"><a href="{% url 'meusPacientes' %}">Meus Pacientes</a></li>
							</ul>
						</li>
						<li class="parent" id="id_list_menu_usuario"><a href="#"><i class="icon mdi mdi-chart-donut"></i><span>Usuário</span></a>
							<ul class="sub-menu" >
								<li id="id_item_meusUsuarios"><a href="{% url 'meusUsuarios' %}">Meus Usuários</a></li>
							</ul>
							<ul class="sub-menu" >
								<li id="id_item_permissao"><a href="#">Permissões</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
