{% load static %}
<div class="be-left-sidebar">
	<div class="left-sidebar-wrapper"><a class="left-sidebar-toggle" href="#">Menu</a>
		<div class="left-sidebar-spacer">
			<div class="left-sidebar-scroll">
				<div class="left-sidebar-content">
					<ul class="sidebar-elements">
						<li class="divider">Clínica</li>
						<li class="parent"><a href="#"><i class="icon mdi mdi-calendar-alt"></i><span>Agenda</span></a></li>
						<li class="parent" id="id_list_menu_paciente"><a href="#"><i class="icon mdi mdi-face"></i><span>Paciente</span></a>
							<ul class="sub-menu">
								<li id="id_item_meusPacientes"><a href="{% url 'meusPacientes' %}">Meus Pacientes</a></li>
							</ul>
						</li>
						<li class="parent" id="id_list_menu_usuario"><a href="#"><i class="icon mdi mdi-chart-donut"></i><span>Usuário</span></a>
							<ul class="sub-menu">
								<li id="id_item_meusUsuarios"><a href="{% url 'meusUsuarios' %}">Meus Usuários</a></li>
							</ul>
						</li>
						<li class="parent" id="id_list_menu_configuracao"><a href="#"><i class="icon mdi mdi-settings"></i><span>Configurações</span></a>

							{% if perms.core.add_titulo and perms.core.change_titulo %}
							<ul class="sub-menu">
								<li id="id_item_titulo"><a href="{% url 'titulos' %}">Títulos de Usuários</a></li>
							</ul>
							{% endif %}

							{% if perms.core.add_convenio and perms.core.change_convenio %}
							<ul class="sub-menu">
								<li id="id_item_convenio"><a href="{% url 'convenios' %}">Convênios</a></li>
							</ul>
							{% endif %}

							{% if perms.core.add_origem and perms.core.change_origem %}
							<ul class="sub-menu">
								<li id="id_item_origem"><a href="{% url 'origens' %}">Origens dos Pacientes</a></li>
							</ul>
							{% endif %}

							{% if perms.core.change_controlecampo %}
							<ul class="sub-menu">
								<li id="id_item_controleCampo"><a href="{% url 'controleCampos' %}">Controle de Campos</a></li>
							</ul>
							{% endif %}

						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
